:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
    background: radial-gradient(circle at 30% 30%, #ff9966, transparent 50%),
    radial-gradient(circle at 70% 70%, #6699ff, transparent 50%),
    radial-gradient(circle at 80% 20%, #ff6666, transparent 50%),
    #1a1a1a; /* base dark background */
    background-blend-mode: screen;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /* adjust opacity */
    z-index: 0; /* ensure it’s behind your content */
    pointer-events: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
